header button {
    font-weight: bold;
    font-size: 20px;
    color: red;
}
.hr {
    background-color: white;
    height: 5px;
}
.popular_posts:hover {
    background-color: #a8dadc ;
}
.tag {
    color: rgb(156, 50, 205);
}
#button_Login {
    background-color: lightslategrey;
    color: limegreen;
}
.posts button:hover {
    background-color: #e63946;
    color: whitesmoke;
}
/* .post button:active {
    background-color: #02c39a;
 } */
.posts a:hover {
    text-decoration: none;
    font-weight: 700;
}

/* Pseude Elements
Keyword added to a selector that lets you style a particular part of selected element(s)

::after
::before
::first-letter
::first-line
::selection

Specificity

Specificity is how the browser decides which rules to apply in multiple rules could apply to the same element. It is a measure of how specific a give selector is.
The more specific selector "WINS" 
*/