h1 {
    font-weight: 400;
    text-align: center;
    text-decoration: underline wavy #ff7283;
}
a {
    text-decoration: none;
    /* Remove underline under the link */
}
p {
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Online Exercise : 
h1 {
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: underline plum wavy;
}
*/