h1 {
    font-weight: 400;
    text-align: center;
    text-decoration: underline wavy #ff7283;
}
a {
    text-decoration: none;
    /* Remove underline under the link */
}
p {
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Online Exercise : 
h1 {
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: underline plum wavy;
}
*/

/* 
Universal selector for all = * 

* { 
    background-color: black;
}


Multiple combine : 
h1,h2 {
    color: darkslateblue;
}

THE ID SELECTOR : 
EXAMPLE:

#test {  only use once by ID , UNIQUE IDENTIFIER 

    color: white;
}

THE CLASS SELECTOR: 
EXAMPLE: 

.test{
    color: blue;
}

DESCENDENCE OF CHILD
.test > a {
    color: white;
}

COMBINATOR 
Select only the paragraphs , that are immediately  preceded by an H1
NOT A CHILD 
EXAMPLE:
The button what come's up after the input will change
input +button {
    color: pink;
}

THE ATTRIBUTE SELECTOR 

input[type="password"] {

    color: green;
}

section[class="test"] {

    background-color: white;
}

section.post  = is working as well and is better way.
*/